<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Μαθητιάδα 2026</title>

    <link rel="stylesheet" href="{{- '/assets/css/reveal/reset.css' | url -}}">
    <link rel="stylesheet" href="{{- '/assets/css/reveal/lib.css' | url -}}">
    <link rel="stylesheet" href="{{- '/assets/css/reveal/theme.css' | url -}}">

    <link rel="stylesheet" href="{{- '/assets/css/main.css' | url -}}">
</head>
