---
layout: default.njk
---
<div class="reveal">
    <div class="slides">
        {% for item in slides.items %}
            <section>
                <h2>{{ item.q }}</h2>
                <p>{{ item.a }}</p>
            </section>
        {% endfor %}

    </div>
</div>